<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Perfil</h2>
<div class="summary">
    <p>Atualmente desempenho a função de Analista de Soluções (SALESFORCE) na cidade de Campinas, porém exerci a função de Analista de Negócios por 3 anos na cidade de São Paulo, onde obtive considerável experiência na função. Identificar os desafios e analisar o contexto visando propor a melhor soluções, é o que me torna cada vez mais apaixonado pela profissão.</p>
    <p>Esse é um resumo da minha carreira profissional na área da Tecnologia da Informação. <!-- (ATUALIZAR PDF) Você pode (se preferir) <a href="CV_Bruno_Oliveira.pdf" download>fazer o download em PDF deste currículo</a>-->.</p>
</div><!--//summary-->
</section><!--//section-->
