<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Perfil</h2>
<div class="summary">
    <p>Atualmente desempenho a função de Analista de requisitos na cidade de Campinas, porém na mesma função possuo experiência de 3 anos na cidade de São Paulo onde estive envolvido em projetos de diferentes portes, os quais me deu considerável experiência. Experiência essa que me auxilia até o momento no cotidiano da minha função.</p>
    <p>Esse é um resumo da minha carreira profissional na área da Tecnologia da Informação. Você pode (se preferir) <a href="CV_Bruno_Oliveira.pdf" download>fazer o download em PDF deste currículo</a>. Sou Analista de requisitos desde 2013 e sou apaixonado pela minha profissão.</p>
</div><!--//summary-->
</section><!--//section-->
