<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Perfil</h2>
<div class="summary">
    <p>Atualmente desempenho a função de Analista de Soluções SALESFORCE na cidade de Campinas, porém exerci a mesma função por 3 anos na cidade de São Paulo, onde estive envolvido em projetos de diferentes portes, os quais me deram considerável experiência. As etapas avançadas de cada projeto e cada implantação realizada me torna mais apaixonado pela minha profissão.</p>
    <p>Esse é um resumo da minha carreira profissional na área da Tecnologia da Informação. <!-- (ATUALIZAR PDF) Você pode (se preferir) <a href="CV_Bruno_Oliveira.pdf" download>fazer o download em PDF deste currículo</a>-->.</p>
</div><!--//summary-->
</section><!--//section-->
