 <div class="education-container container-block">
<h2 class="container-block-title">Acadêmico</h2>
<div class="item">
    <h4 class="degree">Bacharel em Sistemas de Informação</h4>
    <h5 class="meta">PUC - Campinas</h5>
    <div class="time">2015 - 2019</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Técnico em Desenv. de Software</h4>
    <h5 class="meta">ETEC Drª Ruth Cardoso</h5>
    <div class="time">2010 - 2011</div>
</div><!--//item-->
</div><!--//education-container-->
