 <div class="education-container container-block">
<h2 class="container-block-title">Acadêmico</h2>
<div class="item">
    <h4 class="degree">PUC - Campinas</h4>
    <h5 class="meta">Bacharel em Sistemas de Informação</h5>
    <div class="time">2015 - ... </div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">ETEC Drª Ruth Cardoso</h4>
    <h5 class="meta">Técnico em Desenv. de Software</h5>
    <div class="time">2010 - 2011</div>
</div><!--//item-->
</div><!--//education-container-->
