<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analista de requisitos</h3>
                            <div class="time">Out/2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Vinhasoft Sistemas, Campinas</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Levantamento e especificação de requisitos;</li>
                          <li>Definição de escopo;</li>
                          <li>Acompanhamento das etapas do desenvolvimento;</li>
                          <li>Diagramas UML;</li>
                          <li>Prototipação de telas de sistemas;</li>
                          <li>Modelagem de processos de negócio (BPMN).</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analista de requisitos</h3>
                            <div class="time">jan/2013 - mai/2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Nortia IT, São Paulo</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Entrevista com usuários para levantamento e análise de requisitos;</li>
                          <li>Elaboração de documentação funcional e técnica;</li>
                          <li>Definição de fluxo de negócio;</li>
                          <li>Elaboração de protótipos de telas;</li>
                          <li>Testes de Software.</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Desenvolvedor Jr.</h3>
                            <div class="time">mai/2012 - dez/2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Nortia IT, São Paulo</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Manutenção em sistemas nas linguagens: C# e VB.NET</li>
                        <li>Experiência em SQL Server e PostgreSQL</li>
                        <li>Teste de Softwares</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
