<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiências profissionais</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analista de sistemas</h3>
                            <div class="time">Desde Jun/2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Sottelli, Campinas</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Levantamento e especificação de requisitos;</li>
                          <li>Definição de escopo;</li>
                          <li>Acompanhamento das etapas do projeto (utilizando MS Project);</li>
                          <li>Modelagem de processos de negócio BPMN (utilizando Bizagi).</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analista de sistemas</h3>
                            <div class="time">Out/2015 - Jun/2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Vinhasoft Sistemas, Campinas</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Levantamento e especificação de requisitos;</li>
                          <li>Definição de escopo;</li>
                          <li>Diagramas UML (utilizando Enterprise architect);</li>
                          <li>Elaboração de protótipos de telas (utilizando Axure e Pencil);</li>
                          <li>Acompanhamento das etapas do projeto (utilizando MS Project);</li>
                          <li>Modelagem de processos de negócio BPMN (utilizando Bizagi).</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analista de sistemas</h3>
                            <div class="time">jan/2013 - mai/2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Nortia IT, São Paulo</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Levantamento e especificação de requisitos;</li>
                          <li>Definição de escopo;</li>
                          <li>Diagramas UML (utilizando Enterprise architect);</li>
                          <li>Elaboração de protótipos de telas (utilizando Axure e Pencil);</li>
                          <li>Acompanhamento das etapas do projeto (utilizando MS Project);</li>
                          <li>Modelagem de processos de negócio BPMN (utilizando Bizagi).</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
