<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projetos</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="http://niaralab.github.io">NiaraLab</a></span> - 
                    <span class="project-tagline">NiaraLab é um projeto desenvolvido por um grupo de pessoas cujo objetivo é analisar e desenvolver soluções web e pesquisas em impressão 3D, cultura Maker, internet das coisas, computação ubíqua, etc.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Projeto 2</a></span> - 
                    <span class="project-tagline">Descrição do projeto. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Projeto 3</a></span> - 
                    <span class="project-tagline">Descrição do projeto</span>
                </div><!--//item-->
            </section><!--//section-->
