<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Cursos complementares</h2>
                <div class="intro">
                    <p>Abaixo segue alguns dos cursos extras que realizei a fim de agregar conhecimento e valor a minha carreira.</p>
                </div> //intro
                <ul>
                  <li><span class="project-title">Design Thinking (6 horas)</span></li>
                  <li><span class="project-title">Design centrado no usuário (3 horas)</span></li>
                  <li><span class="project-title">Iniciação Profissional em Tecnologia da Informação e Comunicação (14 horas)</span></li>
</section> <!--//section-->
<!--
<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Cursos complementares</h2>
                <div class="intro">
                    <p>Abaixo segue alguns dos cursos extras que realizei a fim de agregar conhecimento e valor a minha carreira.</p>
                </div> //intro
                <div class="item">
                    <span class="project-title">Design Thinking (6 horas)</span>
                </div> //item
                <div class="item">
                    <span class="project-title">Design centrado no usuário (3 horas)</span>
                </div> //item
                <div class="item">
                    <span class="project-title">Iniciação Profissional em Tecnologia da Informação e Comunicação (14 horas)</span>
                </div> //item
</section> //section
-->
