<!--
<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projetos</h2>
                <div class="intro">
                    <p>Abaixo segue alguns dos últimos projetos que realizo ou realizei em conjunto com parceiros.</p>
                </div> //intro
               
                <div class="item">
                    <span class="project-title"><a href="http://niaralab.github.io" target="_blank">NiaraLab</a></span> - 
                    <span class="project-tagline">NiaraLab é um projeto desenvolvido por um grupo de pessoas cujo objetivo é analisar e desenvolver soluções web e pesquisas em impressão 3D, cultura Maker, internet das coisas, computação ubíqua, etc.</span>
                </div> //item
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Lab31</a></span> - 
                    <span class="project-tagline">O projeto Lab31 é um espaço de desenvolvimento e pesquisa que faz parte da casa coletiva Margem 31, nele é possível realizar impressões 3D, criar pequenos projetos utilizando componentes eletrônicos além de trabalhos artísticos. Um dos responsáveis pela concepção do espaço e atualmente pela organização.</span>
                </div> //item
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Hackaplay</a></span> - 
                    <span class="project-tagline">É um projeto em desenvolvimento que visa contribuir com o pensameno lógico de jovens entre 7 e 12 anos, utilizando como meio a lógica de programação de maneira lúdica. Atualmente faço parte do time organizador do projeto.</span>
                </div> //item
</section><!--//section-->
